.env
__pycache__/
*.py[cod]

videos/
screenshots/
output_videos/

output/index.html
output/_*
output/*_compressed.webm
output/*_captioned.webm
output/*_timed.webm
output/*_captions.srt
output/*_narration.txt
output/*_narration.mp3
output/*_narration.wav
output/*_narration.ogg
output/*_narration.flac
output/*_narration.aac
output/*_narration.m4a
